ETSY_API_KEY=your_etsy_api_key_here
ETSY_REDIRECT_URI=https://1us-production.up.railway.app/api/auth/callback
FRONTEND_URL=https://1us-production.up.railway.app
PORT=3001
ANTHROPIC_API_KEY=


# Telegram Bot
TELEGRAM_BOT_TOKEN=your_bot_token_from_botfather
# מזהי המנהלים (מופרדים בפסיק) - השאר ריק לפתיחה לכולם
TELEGRAM_ADMIN_IDS=123456789,987654321
